.body{

}

/* Tittle Section */

.title-row{
  height: 100vh;
}

.image-row{
  background-color: blue;
}

.title-image{
  width: 100%;
  height: 100%;
}

.info-row{
  background-color: red;
  text-align: center;
}

.name{
  padding-top: 30%;
}

.skills-nav{
  text-align: center;
  width: 60%;
  margin: auto;
  padding-top: 15%;
}
